*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.container {
    padding-top: 90px;
    max-width: 1200px;
    margin: auto;
}
.header{
    background-color: rgb(231, 6, 6);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    align-items: center;
}
.logo a{
    font-weight: bold;
    font-size: 2.3em;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
}
.search-bar input{
    width: 400px;
    height: 40px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 16px;
}
input:focus {
    outline: none;
}
.search-bar button{
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: white;
}
.hotline{
    max-width: 140px;
}
.bell{
    max-width: 130px;
}
.cart, .user, .hotline, .bell{
    background-color: #3b3131;
    border-radius: 10px;
    height: 45px;
    display: flex;
    padding: 0 10px;
}
.cart i, .user i, .hotline i, .bell i{
    font-size: 25px;
    margin-right: 5px;
}
.cart a, .user a, .hotline a, .bell a{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.footer {
    background-color:#e8e8e8;
    padding: 30px 0;
    margin-top: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    width: 20%;
}
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section strong {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: black;
    font-size: 14px;
}
.social-icons img,
.payment-icons img {
    width: 40px;
    margin-right: 10px;
}
.footer-bottom{
    padding: 20px 0 0 0;
}
.copyright{
    text-align: center;
}